.header-background{
    background-color: #007fff;
    height:100px;
    display:flex;
    justify-content:space-between;
}
.header-text{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight:900;
}